@charset "utf-8";
@import url("icomoon/style.css")

span[class^="kimicon-"], [class*=" kimicon-"] {
	font-size:20px;
 }
.kimicon-check-square, .kimicon-minus-square, .kimicon-disc {
	color:#20a0ff;
}
.kimicon-circle, .kimicon-square{
	color:#bfcbd9
}
.kimicon-circle:hover, .kimicon-square:hover{
	color:#20a0ff;
}
.kimui-checkbox {
    color: #1f2d3d;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.kimui-checkbox+.kimui-checkbox {
    margin-left: 15px
}

.kimui-checkbox__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle
}

.kimui-checkbox__input.is-disabled .checkbox-icon {
	color: #bbb;
    cursor: not-allowed
}

.kimui-checkbox__input.is-disabled .checkbox-icon:after {
    cursor: not-allowed;
    border-color: #eef1f6
}

.kimui-checkbox__input.is-disabled .checkbox-icon+.kimui-checkbox__label {
    cursor: not-allowed
}

.kimui-checkbox__input.is-disabled.is-checked .checkbox-icon {
	color: #bbb;
}

.kimui-checkbox__input.is-disabled.is-indeterminate .checkbox-icon {
    color: #bbb;
}

.kimui-checkbox__input.is-disabled+.kimui-checkbox__label {
    color: #bbb;
    cursor: not-allowed
}

.kimui-checkbox__original {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    left: -999px
}

.kimui-checkbox__label {
    font-size: 14px;
    padding-left: 5px
}

.kimui-checkbox-button {
    position: relative;
    display: inline-block
}

.kimui-checkbox-button.is-checked .kimui-checkbox-button__inner {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    box-shadow: -1px 0 0 0 #20a0ff
}

.kimui-checkbox-button.is-disabled .kimui-checkbox-button__inner {
    color: #bfcbd9;
    cursor: not-allowed;
    background-image: none;
    background-color: #eef1f6;
    border-color: #d1dbe5;
    box-shadow: none
}

.kimui-checkbox-button.is-focus .kimui-checkbox-button__inner {
    border-color: #20a0ff
}

.kimui-checkbox-button:first-child .kimui-checkbox-button__inner {
    border-left: 1px solid #bfcbd9;
    border-radius: 4px 0 0 4px;
    box-shadow: none!important
}

.kimui-checkbox-button:last-child .kimui-checkbox-button__inner {
    border-radius: 0 4px 4px 0
}

.kimui-checkbox-button__inner {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bfcbd9;
    /* border-left: 0; */
    color: #1f2d3d;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 0
}

.kimui-checkbox-button__inner:hover {
    color: #20a0ff
}

.kimui-checkbox-button__inner /* [class*=el-icon-] */ {
    line-height: .9
}

.kimui-checkbox-button__inner /* [class*=el-icon-]+span */ {
    margin-left: -6px
}

.kimui-checkbox-button__original {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    visibility: hidden;
    left: -999px
}

.kimui-checkbox-button--large .kimui-checkbox-button__inner {
    padding: 11px 19px;
    font-size: 16px;
    border-radius: 0
}

.kimui-checkbox-button--small .kimui-checkbox-button__inner {
    padding: 7px 9px;
    font-size: 12px;
    border-radius: 0
}

.kimui-checkbox-button--mini .kimui-checkbox-button__inner {
    padding: 4px;
    font-size: 12px;
    border-radius: 0
}
