@charset "utf-8";
@import url("font-awesome/css/font-awesome.min.css");

.kimui-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%
}

.kimui-input.is-disabled .kimui-input__inner {
    background-color: #eef1f6;
    border-color: #d1dbe5;
    color: #bbb;
    cursor: not-allowed
}

.kimui-input.is-disabled .kimui-input__inner::-webkit-input-placeholder {
    color: #bfcbd9
}

.kimui-input.is-disabled .kimui-input__inner::-moz-placeholder {
    color: #bfcbd9
}

.kimui-input.is-disabled .kimui-input__inner:-ms-input-placeholder {
    color: #bfcbd9
}

.kimui-input.is-disabled .kimui-input__inner::placeholder {
    color: #bfcbd9
}

.kimui-input.is-error .kimui-input__inner,.kimui-input.is-error .kimui-input__icon {
    color: #e74c3c;
    border-color: #e74c3c;
    box-shadow: none;
}

.kimui-input.is-success .kimui-input__inner,.kimui-input.is-success .kimui-input__icon {
    color: #2ecc71;
    border-color: #2ecc71;
    box-shadow: none;
}

.kimui-input.is-warn .kimui-input__inner,.kimui-input.is-warn .kimui-input__icon {
    color: #f7ba2a;
    border-color: #f7ba2a;
    box-shadow: none;
}

.kimui-input.is-active .kimui-input__inner {
    outline: none;
    border-color: #20a0ff
}

.kimui-input__inner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: inline-block;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: none;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%
}

.kimui-input__inner::-webkit-input-placeholder {
    color: #97a8be
}

.kimui-input__inner::-moz-placeholder {
    color: #97a8be
}

.kimui-input__inner:-ms-input-placeholder {
    color: #97a8be
}

.kimui-input__inner::placeholder {
    color: #97a8be
}

.kimui-input__inner:hover {
    border-color: #8391a5
}

.kimui-input__inner:focus {
    outline: none;
    border-color: #20a0ff
}

.kimui-input__icon {
    position: absolute;
    width: 35px;
    height: 100%;
    right: 0;
    top: 2px;
	font-size: 20px;
    text-align: center;
    color: #bfcbd9;
    transition: all .3s
}

.kimui-input__icon:after {
    content: "";
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle
}

.kimui-input__icon+.kimui-input__inner {
    padding-right: 35px
}

.kimui-input__icon.is-clickable:hover {
    cursor: pointer;
    color: #8391a5
}

.kimui-input__icon.is-clickable:hover+.kimui-input__inner {
    border-color: #8391a5
}

.kimui-input--large {
    font-size: 16px
}

.kimui-input--large .kimui-input__inner {
    height: 42px
}

.kimui-input--small {
    font-size: 13px
}

.kimui-input--small .kimui-input__inner {
    height: 30px
}

.kimui-input--mini {
    font-size: 12px
}

.kimui-input--mini .kimui-input__inner {
    height: 22px
}

.kimui-input-group {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate
}

.kimui-input-group>.kimui-input__inner {
    vertical-align: middle;
    display: table-cell
}

.kimui-input-group__append,.kimui-input-group__prepend {
    background-color: #fbfdff;
    color: #97a8be;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    padding: 0 10px;
    width: 1px;
    white-space: nowrap
}

.kimui-input-group__append .el-button,.kimui-input-group__append .el-select,.kimui-input-group__prepend .el-button,.kimui-input-group__prepend .el-select {
    display: block;
    margin: -10px
}

.kimui-input-group__append button.el-button,.kimui-input-group__append div.el-select .kimui-input__inner,.kimui-input-group__append div.el-select:hover .kimui-input__inner,.kimui-input-group__prepend button.el-button,.kimui-input-group__prepend div.el-select .kimui-input__inner,.kimui-input-group__prepend div.el-select:hover .kimui-input__inner {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    border-top: 0;
    border-bottom: 0
}

.kimui-input-group__append .el-button,.kimui-input-group__append .kimui-input,.kimui-input-group__prepend .el-button,.kimui-input-group__prepend .kimui-input {
    font-size: inherit
}

.kimui-input-group__prepend {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.kimui-input-group__append {
    border-left: 0
}

.kimui-input-group--prepend .kimui-input__inner,.kimui-input-group__append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.kimui-input-group--append .kimui-input__inner {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.kimui-btn {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #bfcbd9;
    border-color: #c4c4c4;
    color: #1f2d3d;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px
}

.kimui-btn+.kimui-btn {
    margin-left: 10px
}

.kimui-btn:focus,.kimui-btn:hover {
    color: #20a0ff;
    border-color: #20a0ff
}

.kimui-btn:active {
    color: #1d90e6;
    border-color: #1d90e6;
    outline: none
}

.kimui-btn::-moz-focus-inner {
    border: 0
}

.kimui-btn i.mr5 {
    margin-right: 5px
}

.kimui-btn.is-loading {
    position: relative;
    pointer-events: none
}

.kimui-btn.is-loading:before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: inherit;
    background-color: hsla(0,0%,100%,.35)
}

.kimui-btn.is-disabled,.kimui-btn.is-disabled:focus,.kimui-btn.is-disabled:hover {
    color: #bfcbd9;
    cursor: not-allowed;
    background-image: none;
    background-color: #eef1f6;
    border-color: #d1dbe5
}

.kimui-btn.is-disabled.kimui-btn-text {
    background-color: transparent
}

.kimui-btn.is-disabled.is-plain,.kimui-btn.is-disabled.is-plain:focus,.kimui-btn.is-disabled.is-plain:hover {
    background-color: #fff;
    border-color: #d1dbe5;
    color: #bfcbd9
}

.kimui-btn.is-active {
    color: #1d90e6;
    border-color: #1d90e6
}

.kimui-btn.is-plain:focus,.kimui-btn.is-plain:hover {
    background: #fff;
    border-color: #20a0ff;
    color: #20a0ff
}

.kimui-btn.is-plain:active {
    background: #fff;
    border-color: #1d90e6;
    color: #1d90e6;
    outline: none
}

.kimui-btn-primary {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff
}

.kimui-btn-primary:focus,.kimui-btn-primary:hover {
    background: #4db3ff;
    border-color: #4db3ff;
    color: #fff
}

.kimui-btn-primary:active {
    outline: none
}

.kimui-btn-primary.is-active,.kimui-btn-primary:active {
    background: #1d90e6;
    border-color: #1d90e6;
    color: #fff
}

.kimui-btn-primary.is-plain {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d
}

.kimui-btn-primary.is-plain:focus,.kimui-btn-primary.is-plain:hover {
    background: #fff;
    border-color: #20a0ff;
    color: #20a0ff
}

.kimui-btn-primary.is-plain:active {
    background: #fff;
    border-color: #1d90e6;
    color: #1d90e6;
    outline: none
}

.kimui-btn-success {
    color: #fff;
    background-color: #13ce66;
    border-color: #13ce66
}

.kimui-btn-success:focus,.kimui-btn-success:hover {
    background: #42d885;
    border-color: #42d885;
    color: #fff
}

.kimui-btn-success:active {
    outline: none
}

.kimui-btn-success.is-active,.kimui-btn-success:active {
    background: #11b95c;
    border-color: #11b95c;
    color: #fff
}

.kimui-btn-success.is-plain {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d
}

.kimui-btn-success.is-plain:focus,.kimui-btn-success.is-plain:hover {
    background: #fff;
    border-color: #13ce66;
    color: #13ce66
}

.kimui-btn-success.is-plain:active {
    background: #fff;
    border-color: #11b95c;
    color: #11b95c;
    outline: none
}

.kimui-btn-warn {
    color: #fff;
    background-color: #f7ba2a;
    border-color: #f7ba2a
}

.kimui-btn-warn:focus,.kimui-btn-warn:hover {
    background: #f9c855;
    border-color: #f9c855;
    color: #fff
}

.kimui-btn-warn:active {
    outline: none
}

.kimui-btn-warn.is-active,.kimui-btn-warn:active {
    background: #dea726;
    border-color: #dea726;
    color: #fff
}

.kimui-btn-warn.is-plain {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d
}

.kimui-btn-warn.is-plain:focus,.kimui-btn-warn.is-plain:hover {
    background: #fff;
    border-color: #f7ba2a;
    color: #f7ba2a
}

.kimui-btn-warn.is-plain:active {
    background: #fff;
    border-color: #dea726;
    color: #dea726;
    outline: none
}

.kimui-btn-danger {
    color: #fff;
    background-color: #ff4949;
    border-color: #ff4949
}

.kimui-btn-danger:focus,.kimui-btn-danger:hover {
    background: #ff6d6d;
    border-color: #ff6d6d;
    color: #fff
}

.kimui-btn-danger:active {
    outline: none
}

.kimui-btn-danger.is-active,.kimui-btn-danger:active {
    background: #e64242;
    border-color: #e64242;
    color: #fff
}

.kimui-btn-danger.is-plain {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d
}

.kimui-btn-danger.is-plain:focus,.kimui-btn-danger.is-plain:hover {
    background: #fff;
    border-color: #ff4949;
    color: #ff4949
}

.kimui-btn-danger.is-plain:active {
    background: #fff;
    border-color: #e64242;
    color: #e64242;
    outline: none
}

.kimui-btn-info {
    color: #fff;
    background-color: #50bfff;
    border-color: #50bfff
}

.kimui-btn-info:focus,.kimui-btn-info:hover {
    background: #73ccff;
    border-color: #73ccff;
    color: #fff
}

.kimui-btn-info:active {
    outline: none
}

.kimui-btn-info.is-active,.kimui-btn-info:active {
    background: #48ace6;
    border-color: #48ace6;
    color: #fff
}

.kimui-btn-info.is-plain {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d
}

.kimui-btn-info.is-plain:focus,.kimui-btn-info.is-plain:hover {
    background: #fff;
    border-color: #50bfff;
    color: #50bfff
}

.kimui-btn-info.is-plain:active {
    background: #fff;
    border-color: #48ace6;
    color: #48ace6;
    outline: none
}

.kimui-btn-large {
    padding: 11px 19px;
    font-size: 16px;
    border-radius: 4px
}

.kimui-btn-small {
    padding: 7px 9px;
    font-size: 12px;
    border-radius: 4px
}

.kimui-btn-small i {
    font-size: 16px!important
}

.kimui-btn-mini {
    padding: 4px;
    font-size: 12px;
    border-radius: 4px
}

.kimui-btn-mini i {
    font-size: 14px!important
}

.kimui-btn-group {
    display: inline-block;
    vertical-align: middle
}

.kimui-btn-group .kimui-btn-primary:first-child {
    border-right-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-primary:last-child {
    border-left-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-primary:not(:first-child):not(:last-child) {
    border-left-color: hsla(0,0%,100%,.5);
    border-right-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-success:first-child {
    border-right-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-success:last-child {
    border-left-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-success:not(:first-child):not(:last-child) {
    border-left-color: hsla(0,0%,100%,.5);
    border-right-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-warn:first-child {
    border-right-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-warn:last-child {
    border-left-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-warn:not(:first-child):not(:last-child) {
    border-left-color: hsla(0,0%,100%,.5);
    border-right-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-danger:first-child {
    border-right-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-danger:last-child {
    border-left-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-danger:not(:first-child):not(:last-child) {
    border-left-color: hsla(0,0%,100%,.5);
    border-right-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-info:first-child {
    border-right-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-info:last-child {
    border-left-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn-info:not(:first-child):not(:last-child) {
    border-left-color: hsla(0,0%,100%,.5);
    border-right-color: hsla(0,0%,100%,.5)
}

.kimui-btn-group .kimui-btn {
    float: left;
    position: relative
}

.kimui-btn-group .kimui-btn+.kimui-btn {
    margin-left: 0
}

.kimui-btn-group .kimui-btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.kimui-btn-group .kimui-btn:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.kimui-btn-group .kimui-btn:not(:first-child):not(:last-child) {
    border-radius: 0
}

.kimui-btn-group .kimui-btn:not(:last-child) {
    margin-right: -1px
}

.kimui-btn-group .kimui-btn.is-active,.kimui-btn-group .kimui-btn:active,.kimui-btn-group .kimui-btn:focus,.kimui-btn-group .kimui-btn:hover {
    z-index: 1
}

