@charset "utf-8";
@import url("icomoon/style.css")

span[class^="kimicon-"], [class*=" kimicon-"] {
	font-size:20px;
 }
.kimicon-check-square, .kimicon-minus-square, .kimicon-disc {
	color:#20a0ff;
}
.kimicon-circle, .kimicon-square{
	color:#bfcbd9
}
.kimicon-circle:hover, .kimicon-square:hover{
	color:#20a0ff;
}
.kimui-radio {
    color: #1f2d3d;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.kimui-radio+.kimui-radio {
    margin-left: 15px
}

.kimui-radio__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle
}

.kimui-radio__input.is-disabled .radio-icon {
	color: #bbb;
    cursor: not-allowed
}

.kimui-radio__input.is-disabled .radio-icon+.kimui-radio__label {
    cursor: not-allowed
}


.kimui-radio__input.is-disabled+.kimui-radio__label {
    color: #bbb;
    cursor: not-allowed
}

.kimui-radio__original {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0
}

.kimui-radio__label {
    font-size: 14px;
    padding-left: 5px
}

.kimui-radio-group {
    display: inline-block;
    font-size: 0;
    line-height: 1;
    vertical-align: middle
}

.kimui-radio-group .kimui-radio {
    font-size: 14px
}

.kimui-radio-button {
    position: relative;
    display: inline-block
}

.kimui-radio-button:first-child .kimui-radio-button__inner {
    border-left: 1px solid #bfcbd9;
    border-radius: 4px 0 0 4px;
    box-shadow: none!important
}

.kimui-radio-button:last-child .kimui-radio-button__inner {
    border-radius: 0 4px 4px 0
}

.kimui-radio-button__inner {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bfcbd9;
    border-left: 0;
    color: #1f2d3d;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 0
}

.kimui-radio-button__inner:hover {
    color: #20a0ff
}

.kimui-radio-button__inner [class*=kimui-icon-] {
    line-height: .9
}

.kimui-radio-button__inner [class*=kimui-icon-]+span {
    margin-left: 5px
}

.kimui-radio-button__orig-radio {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    left: -999px
}

.kimui-radio-button__orig-radio:checked+.kimui-radio-button__inner {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    box-shadow: -1px 0 0 0 #20a0ff
}

.kimui-radio-button__orig-radio:disabled+.kimui-radio-button__inner {
    color: #bfcbd9;
    cursor: not-allowed;
    background-image: none;
    background-color: #eef1f6;
    border-color: #d1dbe5;
    box-shadow: none
}

.kimui-radio-button--large .kimui-radio-button__inner {
    padding: 11px 19px;
    font-size: 16px;
    border-radius: 0
}

.kimui-radio-button--small .kimui-radio-button__inner {
    padding: 7px 9px;
    font-size: 12px;
    border-radius: 0
}

.kimui-radio-button--mini .kimui-radio-button__inner {
    padding: 4px;
    font-size: 12px;
    border-radius: 0
}
